# OS files
.DS_Store
desktop.ini
Thumbs.db

# Data files
*.csv
*.txt
data/
!requirements.txt

# Class files
*.md
9-29-26/inclass6.py
inclass*

# Python caches & virtual envs
__pycache__/
*.pyc
.venv/
venv/

# IDE settings & Secrets
.vscode/
.idea/
.env
